<form class="form-horizontal" id="add-user-form">

    <div class="control-group">
        <label class="control-label" for="firstname">Vezetéknév</label>
        <div class="controls">
            <input id="firstname" class="required" name="first-name" type="text">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="lastname">Keresztnév</label>
        <div class="controls">
            <input id="lastname" class="required" name="last-name" type="text">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="alcohol">Alkoholfogyasztás</label>
        <div class="controls">
            <input checked="checked" id="alcohol" name="alcohol" type="checkbox" /> 
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="photo">Fényképezés</label>
        <div class="controls">
            <input checked="checked" id="photo" name="photo" type="checkbox" /> 
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="video">Videózás</label>
        <div class="controls">
            <input checked="checked" id="video" name="video" type="checkbox" /> 
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="masturbate">Masztizás</label>
        <div class="controls">
            <input checked="checked" id="masturbate" name="masturbate" type="checkbox" /> 
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="toys">Segédeszközök</label>
        <div class="controls">
            <input checked="checked" id="toys" name="toys" type="checkbox" /> 
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="oralsex">Orális szex</label>
        <div class="controls">
            <input checked="checked" id="oralsex" name="oralsex" type="checkbox" /> 
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="analsex">Anális szex</label>
        <div class="controls">
            <input checked="checked" id="analsex" name="analsex" type="checkbox" /> 
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="tiedupsex">Kikötözős szex</label>
        <div class="controls">
            <input checked="checked" id="tiedupsex" name="tiedupsex" type="checkbox" /> 
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button data-bind="click: saveUserForm" type="button" class="btn">Mentés</button>
        </div>
    </div>
</form>
